#carrousel{
    position:relative;
    height:400px;
    width:700px;
    margin:auto;
}

#carrousel ul li{
    position:absolute;
    
}

.prev {
    font-size: 2em;
    transition: 0.2s;
    margin-right: 20px;
}

.prev:hover {
    cursor: pointer;
    color: #28a745;
}

.next {
    font-size: 2em;
}

.next:hover {
    cursor: pointer;
    color: #28a745;
}